[2015-02-03 06:57] youqingkui opened #1 "万能梗 翻译的时候是MoNengGeng"

[2015-02-03 09:50] #1 closed

[2015-02-03 09:50] andyhu commented on #1
已修复，请在npm上更新

[2015-06-01 10:24] wolfsilver opened #2 "'abcd测试'转换结果为'abcdce-shi'？"
`abcd-ce-shi`应该更合理吧？

[2015-06-02 03:55] andyhu commented on #2
的确，不过这个问题有点麻烦，需要检测中文和英文的分界。是不是可以在transliteration之前，先把中英文间加上空格？
str = str.replace(/([\u4e00-\u9fa5])([^\u4e00-\u9fa5\W])/g, '$1 $2').replace(/([^\u4e00-\u9fa5\W])([\u4e00-\u9fa5])/g, '$1 $2')

[2015-06-02 04:24] Wolfsilver commented on #2
测试ABC
会转换为
ce-shi- ABC

[2015-07-05 08:23] logical-and opened #3 "Some characters are not transliterated"
Thanks for your library. I use it to send SMS about servers crash, and I found that sms delivered with longer that it should. It happened, because some characters not converted from UTF-8 to proper ASCII. Here is my fix in wrapper around your library.

![image](https://cloud.githubusercontent.com/assets/1403109/8510903/fe3eea6c-2307-11e5-9751-d310e3cf3f48.png)

Please submit, is it an issue with y

[2015-10-11 18:47] claudioc opened #5 "Global variable leak"
Hi,

`strNew` in `lib/transliteration.js` is leaking to the global scope (a `var` is missing at line 32).

Cheers

[2015-11-26 05:07] andyhu commented on #5
Thanks for the issue, I've already fixed it!

[2015-11-26 05:07] #5 closed

[2015-11-27 19:38] amundo opened #6 "This is a romanization library"
Hi,

Cool library. But isn’t it more accurate to call it a romanization library than a transliteration library? The term transliteration doesn’t assume a roman-alphabet output.

[2016-03-04 23:37] genixpro opened #8 "Bower build is broken"
The build that has been uploaded to Bower appears to be completely broken. When I download it and install it according to the documentation, I get an error that require is undefined. It seems like the node.js version may have been uploaded instead of the Bower version.

Also, it appears that that the regular JS file is minified - all of the code is on a single line.

Also, it appears that the bowe

[2016-03-04 23:41] andyhu commented on #8
Hi, thanks for the info. I'll temporary recover to the old version and fix it later before pushing to git hub

[2016-03-04 23:41] #8 closed

[2016-03-04 23:50] genixpro commented on #8
Thanks Andy for such a prompt response. We were about hack the shit out of our deployment process in order to get it to work.

[2016-03-05 01:03] genixpro commented on #8
Would you be able to add in tags on your repository for the builds while your at it? This would allow us to install specific versions of node-transliteration and ensure that they are fixed, instead of always installing the latest. Right now if I try to install 0.1.x for instance, even right now after you reverted back and I know that 0.1.1 is there, I get the following:

bower transliteration#0.1.

[2016-03-05 06:34] mayvn10 opened #9 "Transliterate Removal of Symbols"
I am trying to transliterate ®, ©, ', and ™ into blank characters meaning completely removing them when they are slugified.

The following is what I tried to do:

[code]

For example, when I use slugify on a name like "ABC®: 123", it transliterates to:
`abc-r-123
`

However, I want the resulting name to be like:
`abc-123`

[2016-03-05 08:08] andyhu commented on #8
Thanks I'll do it

[2016-03-05 08:12] andyhu commented on #9
Hi, it's a bit difficult to do in this library since I don't have the range of special characters which need to be removed. Can you please try to remove those characters before using slugify?
`javascript
str = tr(str.replace(/®©™/g, ''))
`

[2016-03-05 08:19] andyhu commented on #8
I've added a release. Can you please test?

[2016-03-05 10:49] iegik opened #10 "Clean production code"
Problem:
Output code (transliteration.min.js) includes repeated require `...:[function(require,module,exports){module.exports = ...},{},]`, which can be squash into plain JavaScript.

Solution:
- https://www.npmjs.com/package/amdclean

[2016-03-05 13:34] andyhu commented on #6
Hi, yes you are probably right. Actually this module is inspired by the Drupal module with the same name transliteration and it's already published onto npm. I'll just keep it as it is until it's really necessary to change it. But thanks for being interested with the module

[2016-03-05 13:34] #6 closed

[2016-03-05 13:37] andyhu commented on #3
Hi, sorry for the very late reply. What's the input and output for your test? I'll investigate it if you provide some test data

[2016-03-05 20:19] mayvn10 commented on #9
it wasn't working this way. instead, i had to do this to replace it:

`tr(name).replace(/\((r)\)|\((c)\)|\((tm)\)|®|©|™|'|ʼ/g, '');`

[2016-03-05 21:34] #9 closed

[2016-03-06 04:41] genixpro commented on #8
Thanks Andy,

It seems to work now - when I use 0.1.x, it now correctly resolves to 0.1.1
from bower. If I use 0.2.x though, it tells me it can't find anything. I
presume your still working on fixing the 0.2.x series. However, my builds
are back to working, so we are happy. Thanks Andy! And thanks for writing
this library, its really helped us out with our searching functionality.

------
Bradley

[2016-03-21 11:56] vampirefrog opened #11 "chinese vs japanese"
Thanks for making this node module, it looks pretty neat, I've been looking for a separate transliterator, one that's not a web service, for a while now.

I'm trying to transliterate '古代祐三' to Yuzo Koshiro or Koshiroyūzō or at least koshiroyuzo, however, I'm getting the chinese transliteration:

[code]

Is there a way to prefer japanese over chinese?
Thanks!

[2016-03-21 22:16] andyhu commented on #11
Hi! I'm glad that you found this module useful and thanks for bring this up. I have actually thought about this before. From my reasearch, I found two modules which can convert Japanese to Romaji:
https://github.com/WaniKani/WanaKana
https://github.com/hakatashi/japanese.js
Hope it would help

[2016-04-12 16:48] vampirefrog commented on #11
Thanks, kuroshiro seems to come close to what I need.

[2016-05-13 00:16] #3 closed

[2016-05-14 09:39] andyhu commented on #2
此问题在1.0版本已修复

[2016-05-14 09:39] #2 closed

[2016-05-14 10:42] andyhu commented on #10
Hi, thanks for the spot. Could you please test against version 1.0?

[2016-05-14 19:23] iegik opened #13 "ISO-9 Cyrilic Table1, Table2, Table3"
[ISO-9](https://en.wikipedia.org/wiki/ISO_9) ([ru](https://ru.wikipedia.org/wiki/ISO_9)) for Cyrilic languages have at least 3 variants of translitiration.
To resolve this problem we can pass to the translation function argument with standard string, for example `ISO-9.Table1.ru` or `ISO-9.Table1.uk`

[2016-05-14 21:50] andyhu commented on #13
Hi @iegik, thanks for reporting this. Could you elaborate more? Thanks

[2016-05-14 23:18] iegik opened #14 "Separate function and data"
T13n - is array of character pairs only, organized by manual or local t13n standards (character mappings/pairs). Some need only tool for converting strings by they own standart, some need pair collections to use in their own software.

I think, we need to seporate tool from data (character pairs).

[2016-05-14 23:33] iegik opened #15 "Char combinations"
[code]
but

[code]
or
[code]

References:

https://github.com/octo47/t13n/blob/master/src/main/java/ru/creditnet/util/t13n/lang/Ru.java
https://github.com/gioele/t13n-fixtures-sanskrit

[2016-05-14 23:38] andyhu commented on #14
Could you explain more about this? I'm working on a change of the api to allow a custom charmap (can be set in configuration so all following calls will use that config without providing options each time)

[2016-05-14 23:53] iegik commented on #14
dist/transliteration.js - function/API, that transliterates words or sentences
dist/transliteration-data.js - character pairs or formulas, how words should translated.

BTW, check [wiki/Help:Multilingual_support_(Indic)](https://en.wikipedia.org/wiki/Help:Multilingual_support_(Indic)#Online_transliteration.2Finput), to understand, that other languages transliterates in more complex way.

[2016-05-14 23:56] andyhu commented on #15
Thanks for bringing this topic up.
I actually thought about using an in-memory database as the data source (also support persistent data) and probably provide an online repository to let users to choose a downloadable char map / charset map so users could contribute and maintain their own char maps (probably transliteration.io?), they could also share it. Once downloaded the data is stored locally

[2016-05-15 00:01] andyhu commented on #14
Thanks for the link. Yes it can be done in this way, if gziped it should be much smaller and probably in the future we need to cache it in localstorage or somewhere if it's run in the browser.

[2016-05-15 00:13] andyhu commented on #14
I just tried it. After gzipped the transliteration.min.js file just weight about less than 80k. However, do you have more info on how to get the different rules to transliterate different languages? And where can we get the data from? I can get some data for transliterating Chinese and Japanese which both have some cases that one character could have different pronunciation depending on context or

[2016-05-15 00:19] iegik commented on #14
http://www.findurlaptop.com/tech/2012/08/20/hindi-typing-and-google-transliteration/

[2016-05-15 00:35] iegik commented on #14
I think, we need change data grouping behavor. From beginning, I saw that data was grouped by char code, so to cover all characters you will need a lot of memory. But, do you really need that? Anyone need that?

I think - no. In Baltic states, for example, there are 5 common languages: LV, LT, EE, EN, RU. If I want to cover all transliteration of these languages, I should get few special character

[2016-05-15 00:42] iegik commented on #15
Iou can provide your "database solution" in additional way, but keep char mappings separatly

[2016-05-15 01:00] andyhu commented on #14
I think the memory usage is ok for now. It takes less than 2MB rss if you load all data into memory. Please try process.memoryUsage() to see.

[2016-05-15 01:06] iegik commented on #15
BTW, better keep pairs in Map type - key-value pairs (2-element Arrays):

[code]

- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map

And, please, do not uglify sources! Keep each pair in one row - easy to read and convert to other formats (programming languages).

[code]

[2016-05-15 02:04] andyhu commented on #15
Hi @iegik, thanks for the suggestions. However, before deciding to do it in this way, there are still two issues I'm thinking about:
1. Where can we get the data from?
2. if it's not a full charmap, it's more verbose and will need around 4x space to store those data. the javascript file will be larger than 1MB which is not quite practical for the usage in the browser.

[2016-05-19 09:33] andyhu commented on #10
Close it for now. Need for more information. If you believe it's a bug please comment again. Thanks for your contribution!

[2016-05-19 09:33] #10 closed

[2016-05-19 09:36] andyhu commented on #11
In the future I'm thinking to integrate something like kuroshiro with transliteration (if doable) or provide a database and / or pluggable rules in a middleware. But I'm not sure when I have time to do this (or probably I'll never have time :)). If there's any thought or suggestions please leave a comment. Thanks

[2016-05-21 09:32] andyhu commented on #15
Character combinations replacement feature is implemented in v1.0.0+. Closing this this issue for now

[2016-05-21 09:32] #15 closed

[2016-05-22 23:54] andyhu commented on #2
1.0版本已更新到npm和bower

[2016-05-27 02:10] andyhu commented on #3
Hi, since 1.0.x transliteration module support custom replace map. Hope it helps

[2016-05-27 02:15] andyhu commented on #8
Hi, just for your info, transliteration module has been updated to v1.0.x with 100% test coverage and added more functionality.

[2016-06-07 09:25] xiashulin opened #17 ""沈阳"转换变成了“chenyang”"
"沈阳"转换变成了“chenyang”

[2016-06-07 22:26] #17 closed

[2016-06-07 22:26] andyhu commented on #17
谢谢告知，已在1.0.7版本修复

[2016-06-25 03:43] #13 closed

[2016-08-31 07:33] twang2218 opened #19 ""么" 应该为 "Mo"，但是转换为 "Yao""
[code]

结果会转换为：

[code]

应该转换为

[code]

[2016-09-01 00:07] andyhu commented on #19
谢谢，我马上改下

[2016-09-01 00:24] #19 closed

[2016-09-01 00:37] andyhu commented on #19
已更新至npm和bower

[2016-09-01 01:27] twang2218 commented on #19
谢谢

[2016-11-23 09:49] HarDGraD opened #20 "Is there way to reverse transliteration string to its origin ?"
Hello!

I need to transliterate some string and then get origin string from this transliterated string. Is there way to do it ?

Thanks in advance for your reply!

[2016-11-23 12:44] andyhu commented on #20
Hi @HarDGraD,

As far as I know it's quite hard to say. It depends on the specific languages you'd like to transliterate.
I'll take two examples.
`tu` and `tú` in Spanish do not mean the same thing, but they are both translated into `tu`.
`上海` in Chinese means Shanghai (city) and is translated into `Shang-Hai`, but it also could be `伤害` (hurt).

Hope it helps.

[2016-11-23 12:59] #11 closed

[2016-11-23 13:23] HarDGraD commented on #20
Thank you for reply.

Yes. You are right. I will choose another way to resolve my problem.

[2016-11-23 13:23] #20 closed

[2016-11-29 09:40] glueball opened #21 "Does not work inside web workers"
Importing the transliteration module in the context of a Web Worker does not work as expected.

[code]

I believe this has to do with the fact that there is no window object defined in the web worker context.

[2016-11-29 10:24] Romick2005 opened #22 "Mistake in README.md"
var slug = tr.slugify;
var tr = transliteration.transliterate

'tr' was used before it was defined.

Please fix
var transliteration = require('transliteration'),
    tr = transliteration.transliterate,
    slugify = transliteration.slugify;

[2016-11-29 12:18] andyhu commented on #22
I've just fixed it, thanks for reporting!

[2016-11-29 12:18] #22 closed

[2016-11-29 14:52] andyhu commented on #21
Hi @glueball,
Thanks for using the module, it's been fixed in v1.1.15. Let me know if there's still any issues.

Cheers

[2016-11-29 14:52] #21 closed

[2016-12-15 09:16] adamterlson opened #23 "Support for React Native"
I am trying to include transliteration in my React Native app.  I am having difficulties because the transliterate.js file[does dynamic module loading](https://github.com/andyhu/node-transliteration/blob/master/lib/node/transliterate.js#L94):

[code]

This fails in React Native because [the RN packager does not support dynamic module loading](https://github.com/facebook/react-native/issues/6391).

[2016-12-16 04:14] andyhu commented on #23
Thanks for using the module, I may need to refactor the module a bit to by pass dynamic module loading. Will let you know when it's finished

[2016-12-20 05:04] andyhu commented on #23
Hi @adamterlson,
Did you try to import from `transliteration/lib/browser/transliteration`? I believe the browser version of the module doesn't have any dynamic module loading. However if it still doesn't work, please let me know.

[2016-12-22 20:50] adamterlson commented on #23
Hey thanks for the quick response!

I tried it, but React Native supports [ES6 module syntax](https://facebook.github.io/react-native/docs/javascript-environment.html) and doesn't have AMD or common modules.

[2016-12-23 20:55] andyhu commented on #23
It should be working with React Native now with v1.2.0
`import { transliterate, slugify } from 'transliteration/src/main/browser';`

[2016-12-23 20:55] #23 closed

[2017-01-03 14:59] adamterlson commented on #23
Thank you @andyhu for your super fast help!

[2017-01-30 16:14] pmelisko opened #25 "CLI doesnt work"
Hi, I have problem with CLI version

[code]

build folder doesn't exist
after fixing of requires to proper paths in lib/bin/slugify (similarly in lib/bin/transliterate) it will work

[code]

[code]

PS: is there any possibility to read input from stdin? something like:
$ echo "Štandardy pre informačné systémy verejnej správy" | slugify
Invalid argument. Please type 'node_modules/.bin/slugify --hel

[2017-01-31 00:22] andyhu commented on #25
Hi @pmelisko,
Thanks for the spot. The incorrect include path was fixed in version 1.2.4.
Regarding to your question about using stdin as input, I'll consider it a bit and probably get it work in next version.
Cheers!

[2017-01-31 01:55] andyhu commented on #25
@pmelisko Stream input is now supported in version 1.3.0. You can use it as follow:
`$ echo "Štandardy pre informačné systémy verejnej správy" | slugify -S`

[2017-01-31 01:56] #25 closed

[2017-02-01 06:32] theplatapi opened #26 "Problems when ignoring the Ø character"
**Problem**
Spaces before the Ø character are removed

**Expected Output**
Twenty Øne Piløts

**Actual Output**
TwentyØne Pilots

**Version**
1.3.0, in the transliteration demo

[2017-02-01 10:41] andyhu commented on #26
Thanks for the spot, I'll take a look and fix it asap.

[2017-02-02 01:16] andyhu commented on #26
Hi @theplatapi,
I have tested the module and it seems not having this issue. Please check the screenshot:
![Screenshot](http://i.imgur.com/P9zTpnwl.png)
It's using 1.3.0 browser version
http://rawgit.com/andyhu/transliteration/master/demo/example.html
I'll close this issue for now. If you still think it's an issue, please let me know how to reproduce it.
Many thanks!

[2017-02-02 08:10] theplatapi commented on #26
I should have repeated it in the body of the issue, but the problem happens when I want to ignore the Ø character.

![screen shot 2017-02-02 at 12 08 39 am](https://cloud.githubusercontent.com/assets/5661209/22541546/ddb664a0-e8db-11e6-886e-b8adf9a67a6c.png)

I want the Ø character to be in the final output, but the space before it is removed.

[2017-02-03 04:04] #26 closed

[2017-02-03 04:15] andyhu commented on #26
It's now fixed in v1.4.1

[2017-02-03 20:07] theplatapi opened #27 "Issue running with React Native"
Using React Native, the module crashes when called, only when hot reloading is disabled. When hot reloading is enabled then it works.

[code]

The raw Babel transpiled code looks like this:
[code]

I'm including transliterate as follows
[code]

I notice that `transliteration/lib/node/utils.js` uses a custom typeOf to avoid the problem, but for some reason it's trying to use `transliteration/src/ma

[2017-02-06 02:38] andyhu commented on #27
Hi @theplatapi,
Please test again with v1.5.1. Let me know if it works, thanks!

[2017-02-06 19:18] theplatapi commented on #27
@andyhu Yup, this fixes the problem. Thank you for your help!

[2017-02-06 19:18] #27 closed

[2017-02-14 17:07] daformat opened #28 "Issue with UglifyJS while packing production build"
Hello,

I have no problem using transliterate in my dev environment, however, when I try to generate my production build I get an error with webpack 2 UglifyJS plugin complaining about `codemap`:

[code]

I'm using react (es6) and I'm importing the transliterate helper via:
`import {transliterate} from 'transliteration/src/main';`

I couldn't get any other method described in the README for the im

[2017-02-14 18:15] daformat commented on #28
I ended up using my own basic transliteration function until I find the correct way to use this one:

[code]

[2017-02-15 00:47] henrymazza opened #29 "‘browser’ breaks ‘main’ using Browserify and broken ember-cli"
I’m using transliteration with ember-browserify and it loads `lib/browser` instead of `lib/node` generating an `./x0.json not found` error. This started to happen after upgrading transliteration to 1.5.x from 1.2.x.

I’m new to these toos so this is what I found: Browserify uses `browser` as alternative to `main` entry when reading package.json. So it’s probably what causes it to load the wrong ve

[2017-02-15 01:20] andyhu commented on #29
Hi Henry,
Thanks for using this module. I will take a look and hopefully fix it soon.

[2017-02-15 01:27] andyhu commented on #28
Hi @daformat,
Can you provide more information like the config of your webpack and a test code that I can reproduce it?
Also, have you tried to directly import from transliteration module like below:
`import transliterate from 'transliteration';`?

[2017-02-15 01:38] andyhu commented on #29
I have made a small change to revert a possible problematic config setting in package.json. Could you test it again with v1.5.3?

[2017-02-15 07:21] daformat commented on #28
Sure, here is the important part of my webpack config (for prod):

[code]

[2017-02-15 07:25] daformat commented on #28
Importing via `import transliterate from 'transliteration';` doesn't work:

[code]

I get `Transiterate is  undefined`in my console.

[2017-02-15 07:29] daformat commented on #28
I couldn't get the babel transpiled import to work neitheir, that's why I chose to import the ES6 source.

From what I can tell webpack2's UglifyJS plugin has no trouble with ES6, I just hit this problem using transliterate.

Here is a copy of the deps I currently have on the `use-transliterate-library` branch:

[code]

[2017-02-15 21:55] andyhu commented on #28
Have you tried 1.5.3?

[2017-02-15 22:14] henrymazza commented on #29
Works like a charm! Won’t anyone miss that line?

[2017-02-15 22:14] #29 closed

[2017-02-15 22:22] andyhu commented on #29
Thanks for your feedback, I'm glad it worked!

[2017-02-16 05:11] daformat commented on #28
Thanks for trying!

So, updating to 1.5.3 I can import directly from transliteration, but **using a named import** (not the default suggested in previous replies, which will still get me `undefined`):
`import {transliterate} from 'transliteration';`

However I still have the same issue with my build process. (`ERROR in /vendor-27e5075aef1f7d0449f6.js from UglifyJs
SyntaxError: Unexpected token: na

[2017-02-16 05:57] andyhu commented on #28
Hmm, it's kind of weird. Can you check this link below and set `mangle: false` in the webpack settings and see if it works?
http://stackoverflow.com/questions/30322921/webpack-optimize-with-uglifyjs-plugin-causes-runtime-error
I also created a test repo. If it still doesn't work, I wonder if you could upload your config to this repo? https://github.com/andyhu/test-transliteraion. I have already in

[2017-02-16 06:04] daformat commented on #28
Wow, thanks for being proactive like you are! I already tried setting `mangle` to false with no success. I'm cloning your test repo.

Have a nice train trip!

[2017-02-16 23:47] andyhu commented on #28
I've got a clue why it doesn't work now. UglifyJS can't recognize some ES6 grammar like the 'let' keyword and arrow functions. babel-loader seems also missing, and even if it's not, in a real project node_modules is usually excluded. That's where the issue occurred.

[2017-02-17 01:03] andyhu commented on #28
I have updated test-transliteration repo and now `npm run build` is working.

[2017-02-17 04:41] daformat commented on #28
Ok, that could explain things, I indeed was excluding the node_modules folder for babel_loader, here is the full webpack-dist.conf.js I'm using on my own project:

[code]

[2017-02-17 04:45] daformat commented on #28
Not excluding the node_modules folder for babel-loader throws quite a few errors for the other deps I'm using and it still gets me the error about `codemap`

[code]

[2017-02-17 05:07] andyhu commented on #28
How about ignoring `/node_modules\/(?!transliteration\/)/`?
I know it's a bit hacky...

[2017-02-17 05:11] andyhu commented on #28
By the way, your code is for browser right? How about using it in this way:
[code]
It is fully transpiled so it should cause no issues for uglifyjs.

[2017-02-17 05:18] daformat commented on #28
As said previously, importing this way gets me `Transliterate is  undefined`, importing any other way than from your es6 source gets me the same error.

I'm confused about the ignore you're suggesting, should I edit something else than my rule for babel-loader? I tried using the test regex you gave for babel-loader with no success (same error about codemap)

[2017-02-17 05:21] andyhu commented on #28
Please check `test-transliteration`. I've updated webpack config file

[2017-02-17 05:25] andyhu commented on #28
Importing from `transliteration/lib/browser/transliteration` seems not working, please revert back by using `transliteration`

[2017-02-17 05:28] daformat commented on #28
Yup I did so, so apparently I made typo copy/pasting from your comments. Copy pasting the exclude directive from test-transliteration into my webpack build configuration file did solve the issue. I now get a production build, that actually builds :)

Uploading to a test server right now.

[2017-02-17 05:30] andyhu commented on #28
Great, let me know if there's more issues. I think I need to address this issue in README file, while for long term maybe I'll still need to refactor the code a bit to find a better solution.

[2017-02-17 05:32] daformat commented on #28
Woops, sorry for the joy, I was on my master branch (it's 6.30 am here, so my brain is still not 100% awake).

Sadly, I still get the same error in my build.

[2017-02-17 05:32] daformat commented on #28
Here is my full webpack file:

[code]

[2017-02-17 05:33] daformat commented on #28
Ad my .babelrc:

[code]

[2017-02-17 05:34] daformat commented on #28
So it might have something to do with my "modules": false directive... Don't know how to handle this edge case

[2017-02-17 05:39] andyhu commented on #28
So what's the error message now?

[2017-02-17 05:40] daformat commented on #28
Still the same message about codemap
Le ven. 17 févr. 2017 à 06:39, andyhu <notifications@github.com> a écrit :

[2017-02-17 06:46] andyhu commented on #28
I'm not sure .babelrc works or not. Can you try to use queries in webpack config file like in test-transliteration repo instead of using .babelrc?
I've updated that repo for your reference (with module: false)

[2017-02-17 07:32] daformat commented on #28
Ok, I might try this first: https://twitter.com/dan_abramov/status/830776755204063232
Will let you know as soon as I have a chance to do it.

Thanks a lot for the help. Though on my end, there's no rush fixing it, as my visitors and my content are french, the basic transliteration helper I wrote works fine for the time being.

[2017-03-03 23:34] greenkeeper[bot] opened #31 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.1** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-config-airbn

[2017-03-05 19:45] greenkeeper[bot] opened #32 "An in-range update of coveralls is breaking the build 🚨"
## Version **2.12.0** of [coveralls](https://github.com/nickmerwin/node-coveralls) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Fcoveralls-2.12.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      coveralls
    </td>
  </tr>
  <tr>
    <th

[2017-03-06 02:22] #32 closed

[2017-03-06 02:22] #31 closed

[2017-03-21 01:13] greenkeeper[bot] opened #33 "An in-range update of gulp-uglify is breaking the build 🚨"
## Version **2.1.2** of [gulp-uglify](https://github.com/terinjokes/gulp-uglify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Fgulp-uglify-2.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      gulp-uglify
    </td>
  </tr>
  <tr>
    <th

[2017-03-26 02:35] greenkeeper[bot] opened #34 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.2** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-config-airbn

[2017-03-26 08:40] #34 closed

[2017-03-28 05:42] greenkeeper[bot] opened #35 "An in-range update of nyc is breaking the build 🚨"
## Version **10.2.0** of [nyc](https://github.com/istanbuljs/nyc) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Fnyc-10.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      nyc
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ver

[2017-04-03 23:27] greenkeeper[bot] opened #36 "An in-range update of eslint-config-airbnb-base is breaking the build 🚨"
## Version **11.1.3** of [eslint-config-airbnb-base](https://github.com/airbnb/javascript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Feslint-config-airbnb-base-11.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-config-airbn

[2017-04-05 00:15] greenkeeper[bot] opened #37 "An in-range update of browserify is breaking the build 🚨"
## Version **14.3.0** of [browserify](https://github.com/substack/node-browserify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/andyhu/transliteration/compare/greenkeeper%2Fbrowserify-14.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browserify
    </td>
  </tr>
  <tr>
    <t

[2017-04-11 00:42] spencern opened #38 "Version 1.5.3 'leaks' ES6 code (let, const) into minified js bundle when built"
I've got an issue that seems related to #28

I've got a meteor app (meteor controls the build) that imports `transliteration` - there's a description of the problem and a reproduction based on our app here: https://github.com/reactioncommerce/reaction/pull/2091

For versions up to 1.5.2 transliteration bundles a correctly babelified and minified js file. When we got bumped up to 1.5.3, we started

[2017-04-11 01:46] andyhu commented on #38
Hi,
Thanks for the spot, I'll investigate this issue today and get back to you a bit later. Adding `"browser": "lib/browser/transliteration.js"` actually cause other problems, someone had reported an issue running in reactnative.

[2017-04-11 18:38] lcampanis commented on #38
Hi @spencern! Have a look at https://github.com/andyhu/transliteration/pull/39

[2017-04-11 19:01] spencern commented on #38
@andyhu
I've not tried manually importing it yet. I can give that a shot. Thanks for the prompt response

[2017-04-11 19:02] spencern commented on #38
@lcampanis I'll take a look!

[2017-05-07 11:45] beiguancyc opened #40 "汉会被读成yi"
![image](https://cloud.githubusercontent.com/assets/12932389/25780644/848a2eee-335d-11e7-8885-6ca7413f1300.png)

[2017-05-07 14:56] andyhu commented on #40
谢谢提供信息，我这就改下

[2017-05-12 01:56] #40 closed

[2017-05-12 01:56] andyhu commented on #40
已在1.5.4版本修复

[2017-05-12 02:02] #33 closed

[2017-05-12 02:02] #35 closed

[2017-05-12 02:02] #36 closed

[2017-05-12 02:02] #37 closed

[2017-05-15 06:11] andyhu commented on #38
Hi, sorry for the lack of response. I've been very busy. I have done some work to try to fix this issue. Could you test again with version 1.6.0? If there's still any issues, please let me know. Thanks!

[2017-05-15 07:25] yuu2lee4 opened #41 "1.6.1version"
[code]
version 1.5.4 is ok

[2017-05-15 08:56] andyhu commented on #41
Thanks for the spot, I'll inspect it and hopefully fix it soon

[2017-05-15 08:59] andyhu commented on #41
@yuu2lee4 can you please let me know your node version?

[2017-05-15 09:24] andyhu commented on #41
@yuu2lee4 fixed in version 1.6.2

[2017-05-15 09:24] #41 closed

[2017-05-15 14:22] spencern commented on #38
I'll do that @andyhu. Thanks

[2017-06-24 23:25] kachkaev commented on #28
Hi guys,

I tried `transliteration` inside [`create-react-app`](https://github.com/facebookincubator/create-react-app) today and got this during `npm run build` unfortunately:

[code]

There seems no way to overcome this, because `create-react-app` does not give users access to `.babelrc`. The solution looks simple: just get rid of `let` and `cost` in `lib/node/*` to make webpack happy. @andyhu co

[2017-06-25 00:23] kachkaev commented on #38
See https://github.com/andyhu/transliteration/pull/44 - might help

[2017-06-25 00:25] kachkaev commented on #28
Tried adding `es2015` to `.babelrc`, then `npm run build` this module and finally `npm link` to my copy of `create-react-app`. It finally built too! https://github.com/andyhu/transliteration/pull/44 might work as a fix therefore – please consider merging or just copying the idea from there.

[2017-06-26 16:19] spencern commented on #38
It appears that this is working for us now with the latest version of transliteration (1.6.2) by importing the minified version.
e.g.
[code]

Closing this issue for now

[2017-06-26 16:19] #38 closed

[2017-06-26 16:24] kachkaev commented on #38
It is discouraged to use pre-built packages in webpack, because this way you import _all the code_ without giving webpack an opportunity to only bundle the stuff that's actually being used.

[2017-06-26 18:58] spencern commented on #38
Hi @kachkaev - I agree that it's not ideal, but it was suggested to us by @andyhu and is currently working. We're using Meteor and not webpack currently and working on moving transliteration to a dynamic import as well so it's only loaded for users who need it.

I saw your PR, if that gets pulled in, we'll try that as well and see if we can stop importing the pre-built package.

[2017-06-27 14:39] AhHa45 opened #45 "Angular Support"
Can you make this compatible with Angular and/or show us how to use it in Angular with TypeScript?

[2017-06-29 01:58] andyhu commented on #45
Hi, thanks for using this module. However I'm not familiar with both Angular or TypeScript, would you elaborate how it's not compatible with them?

[2017-07-06 12:23] ConquerorsHaki commented on #45
thx for the update.

[2017-08-20 19:12] martyan commented on #28
Hi Folks, any updadte on this?

I'm using es2015 preset, but it doesn't solve the problem.

[2017-08-28 12:49] Octane opened #47 "[Vue warn]: Error in render function: "ReferenceError: 'Symbol' is undefined" in IE"
This script doesn't work in IE, because `Symbol` is undefined.
Reproduced at http://rawgit.com/andyhu/transliteration/master/demo/example.html

[2017-08-28 15:07] StepanPalaxo opened #48 "RequireJS support"
Hello, I've been trying to use transliteration in browser via [RequireJS ](http://requirejs.org) but to no avail.

When I inspected the [dist/browser/transliteration.js](https://github.com/andyhu/transliteration/blob/master/lib/browser/transliteration.js#L232-L235), I found out that the CommonJS support just doesn't do the job. On the other hand, when I tried adding
[code]
after line 223, RequireJ

[2017-08-28 15:36] StepanPalaxo commented on #48
We've also just discovered that it is possible to make RequireJS work with current build by pointing requireConfig of individual modules to built file, eg:
[code]
and in place of usage requiring individual functions from the module like this:
[code]
though in my opinion, this is not a way to go because
- in general this way you have to require N modules from one file
- module names specified at de

[2017-09-08 12:42] Garviell commented on #47
This is quite annoying..  Especially seeing how half of the damn NPM page goes into talking about how well it works on different browsers.

[2017-09-08 13:06] danielsig commented on #47
Symbol is an ES6 feature, which means transliteration does not work on any version of Internet Explorer.
Symbol is used in [lib/browser/transliteration.js](https://github.com/andyhu/transliteration/blob/e99a171e9e8a680a1e591ba593477f0abf8837a3/lib/browser/transliteration.js#L184) at line 184
@andyhu I suggest adding a polyfill or somehow patch this up manually.

[2017-09-18 13:49] andyhu commented on #48
Apologize for the late reply. I haven't used much of RequireJS so I'm not quite sure how it works. If your solution works, would you please provide a PR?

[2017-09-18 13:58] andyhu commented on #47
Hi guys, sorry for the late reply. I don't think it was related to transliteration module itself, I've tested it even under IE6. It's probably Vue and element-ui which don't work well in IE. If you still think there's an issue with this module, please provide some test scenarios

[2017-09-22 20:05] Octane commented on #47
This issue reproduces without Vue.

[2017-09-23 12:04] danielsig commented on #47
There is no support for Symbols in IE, how could your demo, which uses the Symbol class, magically work in a version of IE that was releases when Symbol was not even a draft?
It's likely skipping that line of code or something shady. Test it again, in IE 11, you'll see.
http://kangax.github.io/compat-table/es6/#test-Symbol

[2017-09-23 16:37] danielsig commented on #47
Sorry if I come off as a bit aggressive. Here's a tiny polyfill I made that only covers the things that Transliteration needs. Maybe it can be incorporated into the actual thing?
In the very least this should fix the issues for those that are having this problem.

[code]

[2017-09-24 09:54] andyhu commented on #47
Hi, sorry for the inconvenience of this bug. I've done a bit of investigation and found that it's added automatically by babel, check https://github.com/babel/babel-preset-env/issues/203
I'll try to fix it ASAP.

[2017-09-24 20:32] danielsig commented on #47
Don't be sorry, it's not your fault. This is all Microsoft's fault for being too incompetent to realize that they can actually design their internet dependent software to **actually use the internet to also update itself automatically**. My conclusion is that they are either a group of derps, trolls, or some combination of the two.

[2017-09-25 00:43] andyhu commented on #47
I think I would probably create two or more distributions, 1 for all modern browsers and one for the old ones like IE. How do you guys think about it?

[2017-09-25 03:54] danielsig commented on #47
Just use the polyfill I made, it's simplest.

[2017-09-25 14:31] Garviell commented on #47
That just depends on what you think will be less work, you could also just add another repo that is a compatibility pack with polyfils and such.  I don't really mind as long as there is a version that is tested and works.  Thankfully IE is slowly dying so this won't be a problem forever.

[2017-10-06 23:55] core-process commented on #28
I published the following package as a temporary workaround: https://www.npmjs.com/package/transliterations (clone of transliteration, but using es2015 preset)

[2017-11-23 18:19] hanoii opened #55 "ꜵ character not transliterated?"
Shouldn't this be ao ?

[2017-12-15 14:18] webfacebg opened #56 "Incorrect transliteration of Bulgarian"
We tried the module for transliterating/slugging Bulgarian, but it turns out it transliterates it as Russian. There is a difference in the pronunciation of some symbols as follows:

1. For Russian [1] it is:
[code]
2. For Bulgarian [2] it is:
[code]
Can you give a solution how we can solve this?

[1] https://en.wikipedia.org/wiki/Romanization_of_Russian
[2] https://en.wikipedia.org/wiki/Romanizati

[2017-12-26 02:27] liuzhijun opened #59 "hi yifan, please contact me by 13811六六5零五2 ASAP"
哈哈

[2018-01-22 11:00] madconst commented on #28
I confirm, create-react-app build script fails with 'transliteration' but succeed with 'transliterations'. The error with 'transliteration is:
![image](https://user-images.githubusercontent.com/10620102/35217282-ad9207cc-ff7b-11e7-9cbb-0f93c28c9f84.png)
This is because of 'let' keyword (not es5). Explanation is here:
bit.ly/2tRViJ9

(npm modules must be es5-compatible)

I switched to 'transliterat

[2018-02-26 03:52] linkFly6 opened #63 "TypeScript type definition support"
I like typescript and transliteration, but transliteration doesn't support typescript.

If you can't support typescript [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped), I'd like to contribute to the code.

[2018-03-01 17:33] shrpne commented on #14
@andyhu Any news on this?
It is a great library but it bloats my bundle size a lot: ~300kb minified and looks like data takes almost all of this space.
If I could bundle only languages I need, the bundle size would decrease significantly

[2018-03-01 21:35] iegik commented on #14
There is another way...
If you need only to remove accents in the latin languages, I`ll recommend to use String.prototype.normalize for now.

[code]

[2018-03-14 03:52] pnewell opened #64 "Add Additional Filter"
I was wondering if there is some way to add additional filters (specifically non visible ASCII character (backspace, etc)?

[2018-03-14 06:44] core-process commented on #28
Would love to see some progress on this matter. I see more and more traction to my clone, which is OK, but was not intended initially. @andyhu could you please let us know if you intent to fix this issue? I know we are not paying customers, but a fix would be very simple and it does not hurt. ;-)

[2018-04-19 09:03] kranack commented on #48
Works well for me with this configuration

[code]

[2018-04-24 08:37] zi6xuan opened #65 "关于中文和日文汉字问题"
我在想，是否可以提供一个语言偏好的options来确定，返回的注音结果应该用中文还是日语还是韩语

[2018-04-26 12:45] greenkeeper[bot] opened #66 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-04 07:41] stephankn opened #67 "Not working for Thai"
Completely broken for Thai.

Try เชียงใหม่

Should​ be Chiang Mai. Official scheme for Thai is RTGS.

Your transliteration looks as broken as ICU.

[2018-05-21 08:39] ogonkov commented on #14
With `webpack` the one could map required alphabet for transliteration to `charmap.json`

Example
https://gist.github.com/ogonkov/bb415854f6a27e39471d391672e43003

[2018-05-27 07:08] andyhu commented on #65
是的，这种想法其实是挺不错的，之前也有俄罗斯人提出过按语言来选择采用哪种方案，但是目前来讲我个人抽不出时间这样维护。日语其实是属于一个特例，在不分析句子里的词的语义的前提下几乎很难准确的找到汉字所相对应的罗马字，这点比中文里的同音字问题还要严重。韩语因为是纯拼音语言可能情况更好一点。你有什么好的方法也欢迎交流

[2018-05-28 04:54] zi6xuan commented on #65
日语汉字多音却是是一个很麻烦的事情，我个人认为比较理想的方法就是连续汉字一起查字典，前提是要有支持这样查询的辞典，在线的查询，我看google还行，沪江和有道的挺准的，不知道开不开放API

[2018-05-29 11:56] andyhu commented on #65
可以是可以啊，但是可能要整个改写API。现在的这个转换是按同步的方式做的，就是说转换的速度很快不用搞异步直接返回结果。如果搞分词的话速度会慢很多只能做成异步，如果是调用其他API就不太合适了，速度会很慢的，有些设备上可能没有办法联网就没法用了，我再想想怎么弄最好吧

[2018-06-01 04:33] zi6xuan commented on #65
多谢分享

[2018-06-17 18:41] increpare opened #72 "Arabic alif gets mapped to the empty string"
Verified on the website, by entering "ب ا ب" into the box and only the Bet's appearing in the output, not the Alifs (I'd've expected "b a b" but get "b  b" as output).  I'm not an Arabic speaker, but this seems off to me.

(this library has the more-correct-t-me-seeming behaviour - https://pid.github.io/speakingurl/ )

[2018-07-13 11:07] andyhu commented on #63
Hi, sorry for the reply. I'm not quite familiar with TypeScript, so I'd appreciate if you could submit a PR. Thanks!

[2018-07-13 11:33] andyhu commented on #28
Sorry guys for keep you waiting. I've been really busy. I'm planning to make multiple builds for different environment. Will update soon

[2018-07-14 00:03] core-process commented on #28
@andyhu looking forward to!!!

[2018-07-14 05:49] ogonkov commented on #28
Did you try explicitly set own `.babelrc`? I feel that problem with the one in root of node package, that used by project instead own

[2018-07-14 07:32] #59 closed

[2018-07-14 12:35] andyhu commented on #67
You are right, Thai seems not supported. I'll add this in caveats section. Meanwhile, do you know any open source script which can transliterate Thai script into Latin?

[2018-07-14 14:08] stephankn commented on #67
Sorry, don't know anything better. I search from time for something RTGS capable. This is how I came across yours, just to discover it being broken as well.
If someone finds open source capable of transliteration with RTGS I would be happy to learn about it, too.

[2018-07-14 19:50] andyhu commented on #55
Yes, I've added support for Latin Extended D. Please update the module to the newest version.

[2018-07-14 20:10] #55 closed

[2018-07-14 21:10] andyhu commented on #55
Fixed in 1.6.5

[2018-07-15 06:39] andyhu commented on #28
@ogonkov Yes, I've added a .npmignore file as #68 suggested. Now with version 1.6.5 I think the issue should be solved.

[2018-07-15 06:54] andyhu commented on #64
I'm going to work on it. What I'm thinking is to provide an option which you can provide your own Unicode -> Latin mappings. Something like:

[code]

This is much better than using `replace` option, since it uses an regex to replace the entire source string, and split the string by keyword into multiple segment and then call transliterate again. If use a Unicode number to Latin mapping it's much m

[2018-07-15 07:19] andyhu commented on #14
@ogonkov Nice idea, if I have time I'll first try to replace browserify with webpack. And maybe it's better to make different builds for different purpose and developer's own preference, so it can be more flexible.

Currently if you want you can replace the default character map database by using an undocumented API (`transliterate.setCharmap()`). But you cannot get rid of the default one. The cha

[2018-07-15 07:34] andyhu commented on #56
For now, there is a temporary solution.

[code]

I know this is ugly, but it requires a bit of work to refactor the code and I'm not having enough time working on it.

[2018-07-15 07:44] ogonkov commented on #14
Well, the solution above works for me pretty nice, it leaves only required data in json, and saves a lot in total

For Russian transliteration this charmap works smoothly

[2018-07-15 09:41] andyhu commented on #14
I'm also thinking to compress the JSON file and unpack it in the browser, so it can save around 100+KB space for the default code map data.

[2018-07-15 11:50] ogonkov commented on #14
I think it's better not bundle JSON by default, and have all charmap keys as separate imports, which could be imported separately

[2018-07-15 20:12] andyhu commented on #67
@stephankn I found one, it's not accurate but kind of working: https://github.com/comdevx/thai2karaoke
Here is the test code:

[code]

Below are some links about the rules to transliterate Thai using RTGS:
http://www.arts.chula.ac.th/~ling/tts/principles_eng.pdf
https://en.wikipedia.org/wiki/Royal_Thai_General_System_of_Transcription

I'm not quite familiar with Thai, if any one can help coding th

[2018-07-21 10:37] ilyaigpetrov opened #76 "Feature: Built-in Support for Yandex Rules"
I don't like the transliteration rules used for Cyrillic and want to use [Yandex rules][1] instead (Yandex.Money also have [rules for credit cards][2], just in case).
One solution to my problem is to use replace config, but in #57 @andyhu states:

So I guess better solution would be to support Yandex rules out of the box and in this issue I ask for this.
I would write a patch myself, but consideri

[2018-07-26 07:56] linkFly6 commented on #63
pull request.

Support for typescript in node.

But I didn't use bower, so I don't know how to support bower.

另外我换中文了....

目前浏览器端和 bower 引入没有支持，而 bower 没用过所以不知道如何支持，也不知道能不能支持...

现在 node 直接引入就可以支持了。

![image](https://user-images.githubusercontent.com/6982402/43249093-5c2ba692-90ec-11e8-995d-3dd86698d178.png)

正常使用会有对应的 API 提示，ts 中使用会开启类型检查。

[2018-07-28 17:07] andyhu commented on #63
Thanks for contributing, I've already merged your PR. 谢谢贡献代码，我已合并你的PR
因为没怎么用过typescript所以我也不太明白bower要怎么支持。不过有打算要取消bower支持了，没什么用，webpack / cdn 两种就够了

[2018-07-28 17:07] #63 closed

[2018-07-29 09:16] linkFly6 commented on #63
建议在声明文件的头部声明一下版本和 ts 支持的版本，以便让 ts 使用者了解对应的版本和 ts 兼容性详细信息：

`types/index.d.ts`:

[code]

如果后续有 ts 兼容问题欢迎再联系我。

[2018-09-05 13:41] coolswood commented on #28
@andyhu I'am using `1.6.6` version, but I still have a problem with building production.
Failed to minify the code from this file:
`Failed to minify the code from this file: ./node_modules/transliteration/lib/node/transliterate.js:16 `

[2018-09-14 12:25] kirill001 opened #82 "Error in Iphone 6 plus"
Hello,
Thank you! Your module works perfect for me, but one of our clients has an error when I use your module on my website.
Here is a screenshot of that error
![photo_2018-09-14_14-22-22](https://user-images.githubusercontent.com/8287881/45549944-ca2e4500-b829-11e8-9f97-4f4c4e0f000e.jpg)
He has an error in safari and chrome, so now he can't use my website.
I can't reproduce the error with my dev

[2018-09-17 16:26] aksel commented on #28
Instead of importing directly from transliteration, import the lib that targets your platform. E.g., on browser, import transliteration/lib/browser/transliteration

This fixes the issue! :smile:

[2018-10-04 16:33] lastonoga commented on #28
@andyhu  Same..

[code]

[2018-10-18 08:54] zhshch9527 commented on #28
https://github.com/sorrycc/blog/issues/68
I configured like this:
`
export default {
extraBabelIncludes:["node_modules/transliteration"],
}
`
Special designation converted to es5,and `npm run build` works

[2018-10-21 11:50] andyhu commented on #82
Sorry for the late reply. Is there still any issues? I kind of think that this issue is caused by other libraries like Bootstrap, rather than transliteration. I'll first close this issue. If you can provide more details about how to reproduce it, I'll reopen it.

[2018-11-13 18:03] gajus opened #83 "add an option to ignore currencies"
[code]

Produces:

[code]

Expected that `transliterate` would strip currency characters when used with `transliterate(input, { unknown: '' })` setting.

[2018-11-23 01:23] renwfy opened #84 "可以根据首字母输出汉字吗？"
可以根据首字母输出汉字吗？

[2018-12-05 05:07] arturtr commented on #67
Another service for testing transliteration
https://www.thai2english.com/transliteration

[2018-12-28 13:43] andyhu commented on #63
Just for reference, I'm going to rewrite 2.0 of this module in Typescript

[2018-12-31 08:16] andyhu commented on #84
具体是什么意思？

[2019-01-04 03:04] andyhu commented on #45
Update:
Since v1.6.6, Typescript definition is added.
v2 will be rewritten entirely in Typescript. I'll just close this issue. If there is more questions please comment.

[2019-01-04 03:04] #45 closed

[2019-01-11 14:01] dzcpy commented on #14
@ogonkov That's true, I'm thinking to separate code and data in v3 version

[2019-01-11 14:01] #84 closed

[2019-01-11 14:02] #82 closed

[2019-01-11 14:03] #48 closed

[2019-01-11 14:07] dzcpy commented on #47
I've managed to upgrade the module to v2. It's been nearly a complete rewrite. Now it should work find in IE 9+

[2019-01-11 14:21] dzcpy commented on #28
Hi guys, please try v2 version. Now this issue should be fixed

[2019-01-14 02:08] dzcpy commented on #63
@linkFly6 Hi, 2.0 版本已经实现完全采用了Typescript改写，但是我对Typescript并不精通，所以如果有一些地方写的不符合常规或者有什么问题也欢迎提出

[2019-01-15 13:00] vitaliyhayda opened #91 "Uncaught TypeError: Object(...) is not a function"
In any v2 version I'm getting:

    Uncaught TypeError: Object(...) is not a function

With this simple example:

    import { transliterate } from 'transliteration';
    console.log(transliterate('bla bla'));

-------

_no issues in 1.6.6_

[2019-01-16 03:31] dzcpy commented on #91
Hi, where did you see this error, in the browser or node.js? What's your browser / node.js version?

[2019-01-16 21:48] dzcpy commented on #91
I've tested your code under both node.js + babel with preset-env and typescript. Can't reproduce your issue. I'll close it now but if you could elaborate how to reproduce it, feel free to open it again.

[2019-01-16 21:48] #91 closed

[2019-01-16 21:59] dzcpy commented on #56
Now with v2, you could probable use this method to fix it:
[code]

[2019-01-16 22:00] #56 closed

[2019-01-16 22:04] dzcpy commented on #83
You can use ignore option:
[code]

[2019-01-16 22:08] dzcpy commented on #64
With v2 you can do it like this:
[code]

[2019-01-16 22:09] #47 closed

[2019-01-16 22:09] #28 closed

[2019-01-16 22:11] dzcpy commented on #64
I'll close it now. If you have more questions, please comment.

[2019-01-16 22:12] #83 closed

[2019-01-21 13:04] vitaliyhayda commented on #91
works now 👍

[2019-02-19 14:40] waldyrious opened #97 "Placeholder option doesn't seem to be honored"
What I tried:

    $ transliterate -u '_' 'foo💩bar'

Expected result:

    foo_bar

Actual result:

    foobar

Version:

    $ transliterate --version
    2.1.3

Am I perhaps misunderstanding the documentation?

[2019-03-08 17:43] renovate[bot] opened #98 "Action required: Add a Renovate config"
Hi,

You will need to add a config to this repository if you want Renovate  to continue creating PRs. Renovate will soon begin skipping all repositories that don't have a valid config found, even if you've received PRs before.

To keep functionality exactly the same, you can add an empty JSON config (`{}`) to your repo in any of the following files: `renovate.json`, `.github/renovate.json`, `.reno

[2019-05-30 10:21] bluelovers opened #101 "不支援 𠮷𠬠𡬶𫗭𣛙𢎐 ...這類字"
不支援 𠮷𠬠𡬶𫗭𣛙𢎐 ...這類字

(我是用 網頁版去測試的
http://dzcpy.github.io/transliteration/

[2019-06-24 12:58] igocooper opened #102 "Can't resolve "core-js" dependency. [BUG]"
Hi there, so here is my issue.

I'm having package A which has `transliteration` as a dependency. And there is also package B, which has package A as a dependency. Once I'm building package A with webpack build is broken and i'm getting this error:

`ERROR in ./node_modules/package-a/node_modules/transliteration/dist/browser/bundle.umd.min.js
Module not found: Error: Can't resolve 'core-js/modules

[2019-06-26 11:47] segeda commented on #97
PR #103

[2019-06-26 21:57] dzcpy commented on #101
測試了下的確不支援這幾個字，這些是屬於 Unicode Extended B 區域中的字，暫時還沒有獲取到相關數據，等我有時間的時候更新下

[2019-06-26 22:23] waldyrious commented on #97
Fixed in #103.

[2019-06-26 22:23] #97 closed

[2019-06-27 10:23] dzcpy commented on #102
Can you please try version `2.1.4`? I believe it should be fixed.

[2019-06-27 14:19] lynx-r commented on #102
No, it is not fixed in 2.1.4

[2019-06-27 15:15] dzcpy commented on #102
@lynx-r Could you elaborate? How can you reproduce the issue?

[2019-06-28 04:42] lynx-r commented on #102
Maybe this is an another bug but I got the errors after installing the package like:

[code]

Then I imported `slugify` like this:

[code]

And when I restarted my project I got a bunch of the errors:

[code]

[2019-06-28 14:22] retorquere commented on #102
I'm seeing the same error as @lynx-r when I upgraded from 2.1.3 to 2.1.4. Downgrading to 2.1.3 fixes it for me.

[2019-06-28 20:36] zobzn commented on #102
I confirm the error after upgrading from 2.1.3 to 2.1.4.

[2019-06-29 11:29] kattergil commented on #102
Me either. same error as @lynx-r. and also working well after downgrade to 2.1.3 as @zobzn said.

[2019-06-29 21:04] zobzn commented on #102
I tried to fix the error - https://github.com/dzcpy/transliteration/pull/106

[2019-06-30 06:01] retorquere commented on #102
How would I test whether this works for me?

[2019-06-30 06:12] zobzn commented on #102
@igocooper I believe breaking change appeared between 2.0.3 and 2.0.4.
At least if you compare https://cdn.jsdelivr.net/npm/transliteration@2.0.3/dist/browser/bundle.umd.min.js and https://cdn.jsdelivr.net/npm/transliteration@2.0.4/dist/browser/bundle.umd.min.js, you can notice that 2.0.4 contains require("core-js/modules/es6.regexp.replace") and so on, which indicates that rollup didn't include c

[2019-07-01 08:25] panstromek opened #107 "[BUG] Czech uppercase "Ý" is replaced by "U" instead of "Y""
This code
[code]
prints `yU` instead of `yY`

I tried to look at the code where to fix this but I couldn't figure it out, so here is at least bug report 😄 Thx for the great package.

[2019-07-01 12:35] icex opened #108 "Errors with 2.1.4"
Updating in our project to 2.1.4 results in the below errors(while building with webpack). 2.1.3 works fine.

[code]

[2019-07-03 04:18] bluelovers commented on #101
https://data.gov.tw/dataset/5961

[2019-07-08 07:49] retorquere commented on #102
@zobzn but in 2.1.3 it worked again, so even if it was a regression between 2.0.3 and 2.0.4, it's also a regression between 2.1.3 and 2.1.4.

[2019-07-08 07:54] retorquere commented on #102
`import { transliterate } from 'transliteration/dist/node/src/node'` works for me on 2.1.4 as a workaround.

[2019-07-10 22:24] vitaliyhayda commented on #102
similar error for me, temporarily fixed as mentioned by @retorquere

[2019-07-12 19:46] ptgolden commented on #108
This is the case with my project bundled with browserify as well

[2019-07-18 03:49] ystarlongzi opened #109 "「触发」会被转换成「Hong Fa」"
![image](https://user-images.githubusercontent.com/2840462/61427796-03f04080-a952-11e9-9945-08c375ecd416.png)

[2019-07-25 10:54] jthistle commented on #108
I can confirm this. I am also getting this error.

[2019-08-01 16:51] dzcpy commented on #108
It should be fixed in 2.1.5 with #106 now. Please let me know if there's still any issues

[2019-08-01 16:52] dzcpy commented on #102
Should be fixed in #106, thanks @zobzn for the PR

[2019-08-01 16:53] dzcpy commented on #108
Duplicate issue with #102, closing this

[2019-08-01 16:53] #108 closed

[2019-08-01 17:12] retorquere commented on #102
Can we get a comment here when this is published in a new release? Then I can undo my workaround.

[2019-08-01 18:31] retorquere commented on #102
Oh wait it's already out as 2.1.5

[2019-08-06 11:40] dzcpy commented on #102
Closing this one, let me know if there's still an issue

[2019-08-06 11:40] #102 closed

[2019-09-03 20:13] #98 closed

[2019-09-07 08:02] retorquere opened #128 "Upgrade 2.1.5 -> 2.1.6 fails"
When I upgrade from 2.1.5 -> 2.1.6, I get

[code]

[2019-09-09 06:00] dzcpy commented on #128
Sorry for the inconvinience, please try again with 2.1.7

[2019-09-09 06:04] #128 closed

[2019-09-28 17:03] stephankn commented on #67
Meanwhile I found this one to work quite well for Thai: https://pypi.org/project/tltk/

[2019-11-12 08:24] aaron18106 opened #153 ""癌"会被识别为“yan”"

[2019-11-16 15:33] gajus opened #154 "Add a benchmark"
It would be nice to improve performance of `transliteration`. Currently, it is the hottest function call in my flame chart along with some cryptographic functions.

The first step before making any changes would be to add some benchmarks to measure the improvement as changes are made.

[2019-11-16 15:54] gajus opened #155 "performance: check if transliteration is needed"
Only perform transliteration if subject contains characters that are non-printable ASCII characters, i.e. `/^[\u0020-\u007F]$/`.

Related to: https://github.com/dzcpy/transliteration/issues/154

[2019-11-21 02:03] dzcpy commented on #154
Thanks for raising the issue, I'll dig into it and see if I can find a proper way to optimize it.

[2019-12-18 03:49] dzcpy commented on #153
已在2.1.8版本修复

[2019-12-18 03:49] #153 closed

[2019-12-18 03:49] dzcpy commented on #109
已在2.1.8版本修复

[2019-12-18 03:49] #109 closed

[2019-12-18 04:16] dzcpy commented on #101
想問下您主要在哪裡用到這些字符？是在處理古文的時候嗎？哪裡能獲取到這些字符的讀音數據？

[2019-12-18 04:21] dzcpy commented on #154
Can you please share some of your tests? Also which functions do you see are called the most?

[2019-12-19 18:02] bluelovers commented on #101
上面給的連結裡面有這些相關資料

至於用途嘛
例如 可以對漢字 以 讀音 做排序

另外 有一些也不是古文 而是 追加的新字

[2019-12-20 03:36] dzcpy commented on #107
Thanks for raising the issue. I think the problem is that these characters are in a Cyrillic alphabet which shared with different langueages (I'm not excactly sure). One solution is that you can set a custom character map for these individual characters like this:
`
transliterate.setData({
  'Ý': 'Y'
});
transliterate('こんにちわ、世界！\u0008')
`
In next major version I may consider to find a better way t

[2020-01-02 20:35] dzcpy commented on #101
明白了，我盡量找下讀音

[2020-02-26 13:59] ogonkov commented on #14
2.x is breaking my solution above because now JSON data is bundled to JS file, that used it.

[2020-03-15 10:14] dzcpy commented on #14
I'll probably implement this in next version, but only if I can manage to get enough time

[2020-03-15 12:09] viko16 opened #202 "Words are not merged with the separator when replace is hit"
在命中 replace 之后，没有正确的按 separator 去拼接

[code]

Expect: "ji-zhong-fang-an"
Got: "jizhong-fang-an"

[2020-03-16 09:15] ogonkov commented on #14
What is the plan? How it should work?

[2020-03-17 10:57] dzcpy commented on #14
Like separating function and data as this issue suggested, and probably also adding an async method since sync operations may block the main thread for intensive usage. Also I'm planning to implementing a new method to optimize the algorism, to both reduce the package size and also improve the performance a bit.
Anyway, considering my current workload, I might not be able to get enough time workin

[2020-03-17 17:54] ogonkov commented on #14
One of the proposals in this comment? https://github.com/dzcpy/transliteration/issues/14#issuecomment-219258081

[2020-03-18 09:34] dzcpy commented on #14
I have to investigate a bit more first, but should be something similar.

[2020-05-05 10:53] sun commented on #14
Other transliteration packages, such as the [Transliteration component of Drupal](https://github.com/drupal/drupal/tree/8.8.x/core/lib/Drupal/Component/Transliteration) - whose data was originally based on the [Unidecode](https://metacpan.org/pod/release/SBURKE/Text-Unidecode-0.04/lib/Text/Unidecode.pm) CPAN package but heavily improved in the meantime - are using separate mapping files for each l

[2020-05-09 01:46] dzcpy commented on #14
Yes, actually I used to be a Drupal developer myself (Drupal 6) It's an excellent module and gave me a lot of inspiration. And the original data was converted from PHP, I think initially it's from IBM's ICU project, but back then Drupal's transliteration module didn't have separate files. Maybe I'll take a look again. There are many errors in the data but I've been fixing them whenever anyone find

[2020-05-16 02:14] coloz opened #223 "“术”转换后变成了“zhu”"
版本2.1.9

[2020-05-16 02:15] coloz commented on #223
查了下确实多音字，但zhu基本算是生僻读音
https://hanyu.baidu.com/zici/s?wd=%E6%9C%AF&query=%E6%9C%AF&srcid=28232&from=kg0#cn-detailmean

[2020-05-16 09:37] dzcpy commented on #223
Fixed in 2.1.10

[2020-05-16 09:37] #223 closed

[2020-05-16 09:51] dzcpy commented on #202
I just changed the data, so now 种 is transliterated to "Zhong “ instead of "Chong ". Will fix the replace option when I have time

[2020-05-29 19:05] bluelovers commented on #101
@dzcpy
https://github.com/bluelovers/ws-regexp/tree/master/packages/@lazy-cjk/cns-11643#readme

[2020-06-01 16:13] bluelovers commented on #101
有了這個你可以用來查詢那些缺少的讀音了

[2020-06-17 10:40] AlexMisiulia opened #226 "Incorrect transliteration for Japanese language"
Hi, thank you for your library!

I tried to transliterate this Japanese phrase:
今日の天気は良く見えません。

It should be (with the help of google translate):
Kyō no tenki wa yoku miemasen.

Actually it is:
Jin Rino Tian Qiha Liangku Jianemasen.

I am not good at Japanese at all. But maybe you can help to find some workaround or suggest another library that works well with Japanese. Thanks!

[2020-06-18 01:50] dzcpy commented on #226
Hi, thanks for using this liberary.
As you mentioned, this module doesn't work well with Japanese. It's due to the fact that Japanese and Chinese shared a lot of characters (Kanji vs. Hanzi) so it is not able to differenciate those two languages. Another issue is that for each Japanese Kanji, they can be transliterated into different Roman characters in different sentences. So without doing an gra

[2020-08-11 23:47] milesj commented on #226
@dzcpy Could this be solved by explicitly passing the locale of the source text? `transliterate('今日の天気は良く見えません。', { locale: 'ja' })`

[2020-08-11 23:57] dzcpy commented on #226
@milesj Yes, that's one solution. However it doesn't solve the polyphone issue with Japanese

[2020-09-14 01:20] 510846 opened #228 "μg ≠ mg"
μg = ug, is not mg!

![image](https://user-images.githubusercontent.com/7681405/93034086-7bf7ea80-f66b-11ea-82dc-7bb44860e6fd.png)

[2020-09-16 09:26] dzcpy commented on #228
Well, according to this article, https://www.sjsu.edu/faculty/watkins/transliteration.htm `μ` seems to be transliterated to `m`. Which language are you using?

[2020-09-21 01:30] 510846 commented on #228
how to explain following translate result?

50 µg => 50-ug

![image](https://user-images.githubusercontent.com/7681405/93727220-c38ef100-fbec-11ea-9a56-9eb8c3ae387f.png)

[2020-09-27 17:53] retorquere opened #229 "叶海林, Xie Hai Lin vs. Ye Hai Lin"
I don't speak Chinese myself, but I use this library in my software; one of my users is [reporting](https://github.com/retorquere/zotero-better-bibtex/issues/1662) that `叶海林` should transliterate to `Ye Hai Lin` rather than `Xie Hai Lin` (which is what `transliteration` gives me). Is the user correct? Is there a configuration I must choose to get one vs the other?

[2020-09-28 00:37] dzcpy commented on #229
Yes your user is correct. I'll update it in the next version

[2020-09-28 07:02] retorquere commented on #229
Is there a timeline for the next version? Or could I apply a patch to achieve this effect in the interim?

[2020-09-28 14:19] dzcpy commented on #229
I'll try to get it done within 2 days

[2020-10-05 09:30] retorquere commented on #229
Sorry to press the issue, but is it possible for me to patch this in somehow?

[2020-10-15 11:33] retorquere commented on #229
@dzcpy sorry to bother you, but is there a timeline for a new release that includes this fix?

[2020-10-26 07:20] dzcpy commented on #202
I've made some modifications about the replace related issues in version `2.2.0`. But for your example, I woud say it your code is better be something like this:
[code]

[2020-10-26 07:20] #202 closed

[2020-10-26 07:31] dzcpy commented on #228
@510846 `µ` and `μ` are different characters.
See:
https://unicode-table.com/en/00B5/
https://unicode-table.com/en/03BC/
But anyway I don't know much about the difference. What do you think should be the correct transliteration?

[2020-10-26 07:34] dzcpy commented on #229
@renovate-bot Sorry for the delay, I've been a bit busy lately. I've fixed it in version 2.2.0

[2020-10-26 07:34] #229 closed

[2020-10-26 15:05] retorquere commented on #229
Is there a timeline for when this will go up on npmjs?

[2020-10-27 00:28] dzcpy commented on #229
@retorquere I don't know what's the problem with my account, but I was unable to upload the module to npm. It seems to be a bug on npmjs.com. I've written an email to them, waiting for their reply.

[2020-10-27 08:43] retorquere commented on #229
Thanks -- strange, the issue with your account; I've been able to upload new versions to npmjs without issue. The github version contains the compiled assets?

[2020-10-27 08:54] dzcpy commented on #229
No, I tried to transfer the ownership to another account, and then it failed. Now both of the two accounts doesn't have permission to upload new versions. Although on the website I can still see it's in collaborators list

[2020-10-28 19:14] dzcpy commented on #229
@retorquere OK, the update is on npm now.

[2020-10-28 19:35] retorquere commented on #229
Awesome, thanks for the heads up!

[2020-12-14 15:38] maleksandrov opened #230 "Include and Exclude Languages"
Hello,

First, I wanted to thank you for the script and the time you're dedicating to updating it.

We are developing a different theme that is using your library. For some of them make sense to include the library, but we need one language for others.

Is there a way to include and exclude existing languages as a configuration option?

I was checking the provided documentation, and I wasn't able

[2020-12-15 03:10] dzcpy commented on #230
Hi, thanks for using this library.
I'm not excactly sure what would you like to do, but maybe you can take a look at the test file here:
https://github.com/dzcpy/transliteration/blob/51b06ba1cf99064fb178a8cd045dd4edc658f0b9/test/common/transliterate.ts#L195
And here is  the source code:
https://github.com/dzcpy/transliteration/blob/51b06ba1cf99064fb178a8cd045dd4edc658f0b9/src/common/transliterate.

[2020-12-15 09:27] maleksandrov commented on #230
Hello @dzcpy,

Thank you for the quick reply.
The solution you are providing is to create a new Language Map, but in my case, I need to cherry-pick only one language.
Example:
English website: Here, I'll need only the Latin
English + French website:  Here, I'll need to include the French and Latin

Instead, as a rule for configuring a webpack or something where you can choose one or more languages

[2020-12-15 17:24] dzcpy commented on #230
Hi @maleksandrov, in that case this library can't do exactly what you expected yet. I've got a plan to implement it in v3 of this module, but since I've been extremely busy, I don't expect it to happen anytime soon.
Meanwhile, you may take a look at this module instead:
https://github.com/sindresorhus/transliterate

[2020-12-15 17:25] #230 closed

[2020-12-16 08:32] maleksandrov commented on #230
Thank you @dzcpy

[2021-01-08 23:17] hayatae opened #231 "No Emoji support"
Currently, all emojis appear to be filtered out when transliteration is run on a string. Is it possible to add an option to leave emojis in-place while still transliterating the rest of the string as normal?

[2021-01-09 01:11] dzcpy commented on #231
Hi, it's doable with a workaround. It's not quite efficient though.
For example you could write something like this:
[code]

[2021-01-09 01:50] hayatae commented on #231
Aah, I hadn't thought of using a regex like that. The `emoji-regex` (https://www.npmjs.com/package/emoji-regex) package works well for this. Might not be efficient, but it does work! Thanks.

[2021-01-09 01:52] dzcpy commented on #231
Sure, emoji-regex is a better choice :)

[2021-01-09 01:52] #231 closed

[2021-04-22 15:47] AlexMisiulia opened #232 "List of supported languages"
Hi!

Do you have a list of supported languages? I see in the [caveats](https://github.com/dzcpy/transliteration#caveats) section known problems with some languages. But maybe you have a list with all supported languages. Thanks!

[2021-04-22 16:18] dzcpy commented on #232
Hi, sorry I'm not excactly sure. I can only read a few languages. In my guess it only works when the language can be transliterated character by character, and doesn't share same chracters with a different language.

[2021-04-22 19:04] AlexMisiulia commented on #232
Thanks for the fast response!

[2021-12-02 14:52] severinsimmler opened #233 "Empty separator raises `SyntaxError`"
If you pass an empty string as separator, this line will raise `SyntaxError: Invalid regular expression: /^+|$/: Nothing to repeat`:

https://github.com/dzcpy/transliteration/blob/807e351a992d1cbb46aff5292ce08010b0619a7e/src/common/slugify.ts#L57

[2021-12-02 15:05] severinsimmler opened #234 "`OptionsTransliterate` and `OptionsSlugify` interfaces not available Node.js"
It would be quite useful to use the `OptionsTransliterate` and `OptionsSlugify` interfaces (this was actually possible in v1), but they are not exported and thus not available in Node.js.

[2021-12-15 11:12] melounek opened #235 "Caveats about cyrilic: overlapping characters between languages like Bulgarian or Serbian"
Could we add an option `lang` which would resolve many of caveats mentioned in the [docs](https://github.com/dzcpy/transliteration#caveats)?

As a first simple use-case it could handle languages `sr`, `bg` and maybe few more cyrilic ones so that the transliteration can me made without mistakes.
Here is solution in python which I didn't find for NodeJS anywhere else and this library looks like a go

[2022-02-07 14:03] slavaGanzin opened #236 "Is reverse transliteration possible?"
Hi. @barwin
Awesome project, use it a lot, and it works flawlessly!

But now I had a reverse problem: I need to transliterate something from English.
My use case is translation: for example, company names or people surnames shouldn't be translated at all.

Of course, to get flawless results graphemes need to be transcribed phonetically to IPA and then reconstructed to graphemes in target language.

[2022-02-07 16:36] barwin commented on #236
@slavaGanzin I agree it's a great project, but it's not mine :)  I think you mean to ping @dzcpy

[2022-07-05 08:53] dzcpy commented on #234
Sorry for the very late reply! It should work in version `2.3.0`. If not, let me know.

[2022-07-05 08:53] #234 closed

[2022-07-05 08:59] #233 closed

[2022-07-05 10:03] p0psicles opened #237 "Last publish 2.3.2 broken"
Transliteration is used by vuepress-bar as a dependency.
I'm when running the vuepress-bar plugin in my vuepress site, i'm getting the following error:

[code]

This hasn't been an issue with the prior verison.

[2022-07-05 10:36] dzcpy commented on #237
Ah, sorry for the error, I'll fix it asap

[2022-07-05 22:10] dzcpy commented on #237
Fixed in 2.3.3

[2022-07-05 22:10] #237 closed

[2022-07-06 02:22] dzcpy commented on #234
It's added in version `2.3.5`

[2022-07-06 06:40] severinsimmler commented on #234
Perfect, thank you!

[2022-08-05 14:47] szx741 opened #239 "Mixing of numbers and Chinese and English"
想要数字前后也要有分隔符
slugify('2022年中文01英文nihao02')
现在的slugify是这样子的
2022nian-zhong-wen-01ying-wen-nihao02
但我想要
2022-nian-zhong-wen-01-ying-wen-nihao-02
不知道有没有这样子的功能

[2022-08-06 02:57] dzcpy commented on #239
Well, it supposed to work that way, I'll do some investigation. Meanwhile you can implement it with a workaround like:
[code]

[2022-08-24 11:03] alfaproject commented on #72
I would also be interested in Arabic transliteration, like for example this gets transliterated to an empty string atm: `الازعر جود`

[2022-08-25 00:39] dzcpy commented on #72
Hi, thanks for the feadback and sorry for the late reply. Since I don't have any experince in Arabic, I don't really know how to fix this. PRs are welcome!

[2022-09-03 13:09] szx741 commented on #239
你好，我又发现有一点问题，中文在前，英文在后，中间会有横杠，如果中文在后，英文在前，就没有横杠连接了。
比如
slugify('你好world')    //ni-hao-world
slugify('hello世界')     //helloshi-jie

[2022-11-04 10:58] glensc opened #240 "Git tags missing"
Please publish git tags, increases trust that the package has not been hijacked.

[code]

Latest release shown in github is:
- https://github.com/dzcpy/transliteration/releases/tag/1.6.5

npm shows 2.3.5:
- https://www.npmjs.com/package/transliteration

[2022-11-04 10:58] glensc commented on #240
If needed I can help with:
1. figuring out historic tags and providing git refs for them
2. automating publishing to npm using github actions